* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --grey-black: hsl(0deg, 0%, 0%);
  --grey-very-dark: hsl(0deg, 0%, 10%);
  --grey-dark: hsl(0deg, 0%, 30%);
  --grey-medium: hsl(0deg, 0%, 40%);
  --grey-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 1.5em 0;
}

strong {
  color: var(--primary);
}

header {
  border-bottom: 6px solid var(--grey-medium);
}

main {
  padding: 8px 0;
  background-color: var(--grey-light);
}

section {
  background-color: var(--white);
  border-bottom: 6px solid var(--grey-medium);
}

.max-width-wrapper {
  margin: 32px auto;
  padding: 0 16px;
  max-width: 500px;
}

.intro-chunk p {
  max-width: 300px;
}

.title {
  margin-top: 1.5em;
}

.card {
  width: 100%;
  padding-top: 8px;
}

.indented-heading {
  background-color: var(--secondary-light);
  border-bottom: 6px solid var(--secondary-dark);
  padding: 8px 8px 8px 24px;
  margin: 16px 0 0 -24px;
  width: fit-content;
}
